
#number {
  width: 100%;
  height: 100%;
}

#number::-webkit-inner-spin-button,
#number::-webkit-outer-spin-button {
  /* -webkit-appearance: none; */
  margin: auto;
  margin-right: -4px;
  height: 15px;
  /* width: 100px; */
}

#pil.active {
  background-color: rgb(202, 202, 202);
}
